body {
    margin: 0;
    font-family: 'Marcellus SC', serif;
    overflow-x: hidden;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.site-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #5078f0;
    border-radius: 10px;
    /* box-shadow: inset 2px 2px 2px #d475d4, inset -2px -2px 2px #d475d4; */
}

::-webkit-scrollbar-track {
    background: transparent;
    border: none;
}

::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: rgba(40, 80, 240, 0.5);
}

::selection {
    color: white;
    background: rgba(40, 80, 240, 0.5);
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

/* -------- Opacity transition -------- */

.menu-opacity-transition-enter {
    opacity: 0;
}

.menu-opacity-transition-enter-active {
    opacity: 1;
    transition: all 0.23s linear;
}

.menu-opacity-transition-exit {
    opacity: 1;
}

.menu-opacity-transition-exit-active {
    opacity: 0;
    transition: all 0.23s linear;
}

/* -------- Dropdown slider transition -------- */

.menu-dropdown-transition-enter {
    right: -200px;
}

.menu-dropdown-transition-enter-active {
    right: 0;
    transition: all 0.23s linear;
}

.menu-dropdown-transition-exit {
    right: 0;
}

.menu-dropdown-transition-exit-active {
    right: -200px;
    transition: all 0.23s linear;
}