.card-container {
	display: flex;
	padding: 3rem;
	overflow-x: scroll;
	border: 0 solid black;
	align-self: center;
	margin-top: 30px;
}

.card {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	min-height: 400px;
	width: 25%;
	min-width: 350px;
	padding: 1.5rem;
	border-radius: 16px;
	box-shadow: -1rem 0 2rem black;
	background-color: rgb(20,40,120);
	color: white;
	transition: .5s;
}

.card a {
	color: white;
	text-decoration: none;
}

.card-image-container {
	align-self: center;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card-image {
	height: auto;
	width: 100%;
	border: 1px solid white;
}

.card-image:hover {
	transform: scale(1.5);
}

.card:hover {
	transform: translateY(-1rem);
	transform: scale(1.05);
	z-index: 2;
}

.card:hover~.card {
	transform: translateX(130px);
}

.card:not(:first-child) {
	margin-left: -130px;
}

.card-container::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

.card-container::-webkit-scrollbar-thumb {
	background: rgb(20,40,120);
	border-radius: 10px;
	box-shadow: inset 2px 2px 2px grey, inset -2px -2px 2px grey;
}

 .card-container::-webkit-scrollbar-track {
	 background: linear-gradient(90deg, grey, grey 1px, white 0, white)
 }