.projects-container {
    margin-bottom: 40px;
}

.projects-card-container {
    display: flex;
    padding: 60px 40px;
    overflow-x: scroll;
    align-self: center;
}

.projects-card-container::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.projects-card-container::-webkit-scrollbar-thumb {
    background: rgb(100, 50, 175);
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px grey, inset -2px -2px 2px grey;
}

.projects-card-container::-webkit-scrollbar-track {
    background: linear-gradient(90deg, grey, grey 1px, white 0, white);
}

.projects-modal-img-container {
    width: 75vw;
    margin: auto;
    position: relative;
}

.projects-modal-img {
    max-width: 100%;
    max-height: 80vh;
    object-fit: cover;
    border: 5px solid white;
}