.projects-card-container::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.projects-card-container::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #d475d4 0, #fa9f55 100%);
    border-radius: 10px;
}

.projects-card-container::-webkit-scrollbar-track {
    background: black;
    border: none;
}

@media only screen and (max-width: 1000px) {
    .projects-container {
        padding: 30px 0px;
    }
    .projects-card-container {
        padding: 36px 18px;
    }
}