.std_btn, .std_btn:focus {
    outline: none !important;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}

.std_btn:hover {
    text-decoration: none;
}

.std_btn:active {
    color: inherit;
}

.std_btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* -------- Button color -------- */

.std_btn_purple:hover {
    background-color: rgb(40, 80, 240);
}

.std_btn_purple:active {
    background-color: rgb(20, 40, 120);
}

.std_btn_orange:hover {
    background-color: rgb(209, 95, 2);
}

.std_btn_orange:active {
    background-color: rgb(181, 81, 0);
}

.std_btn_pink:hover {
    background-color: rgb(186, 74, 186);
}

.std_btn_pink:active {
    background-color: rgb(115, 20, 115);
}

.std_btn_pink_orange:hover {
    background: linear-gradient(90deg, rgb(186, 74, 186) 0, rgb(209, 95, 2) 100%);
}

.std_btn_pink_orange:active {
    background: linear-gradient(90deg, rgb(115, 20, 115) 0, rgb(181, 81, 0) 100%);
}

.std_btn_blue_green {
    background: linear-gradient(90deg, rgb(80, 120, 240) 0, rgb(34, 168, 114) 100%);
}

.std_btn_blue_green:hover {
    background: linear-gradient(90deg, rgb(40, 80, 180) 0, rgb(34, 168, 114) 100%);
}

.std_btn_blue_green:active {
    background: linear-gradient(90deg, rgb(0, 0, 0) 0, rgb(20, 40, 120) 100%);
    color: white;
}