.home-section-container {
    display: flex;
    align-items: center;
}

.home-section-img-container {
    flex: 2;
}

.home-section-img {
    object-fit: cover;
    width: 100%;
    height: 500px;
}

.home-section-text-container {
    flex: 3;
}