.text-multi-color-container {
    animation: animateTextColor 10s linear infinite;
}

@keyframes animateTextColor {
    0% {
        color: rgb(0, 120, 255);
    }
    10% {
        color: rgb(0, 0, 255);
    }
    20% {
        color: rgb(120, 0, 255);
    }
    30% {
        color: rgb(255, 0, 255);
    }
    40% {
        color: rgb(255, 0, 120);
    }
    50% {
        color: rgb(255, 0, 0);
    }
    60% {
        color: rgb(255, 120, 0);
    }
    70% {
        color: rgb(120, 255, 0);
    }
    80% {
        color: rgb(0, 255, 0);
    }
    90% {
        color: rgb(0, 120, 0);
    }
    100% {
        color: rgb(0, 120, 255);
    }
}