#bio img {
    height:auto;
    width:25%;
    overflow:none;
    position:absolute;
    top:50%;
    transform:translate(0,-50%);
}
#bio figcaption {
    position:absolute;
    left:30%;
    top:50%;
    transform:translate(0,-50%);
    width:50%;
    font-size:1.2vw;
}
#bio {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:75%;
    height:50%;
    border:1px solid;
    padding:1%;
}