.other-section-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
}

.other-section-audio-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;
}

@media only screen and (max-width: 1300px) {
    .other-section-title {
        font-size: 30px;
        padding: 0 36px;
    }
    .other-section-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 36px;
    }
}

@media only screen and (max-width: 1100px) {
    .other-section-audio-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 36px;
    }
}

@media only screen and (max-width: 800px) {
    .other-container {
        padding: 90px 36px;
    }
    .other-section {
        padding: 0 36px 36px 36px;
    }
    .other-section-title {
        font-size: 24px;
        padding: 0 18px;
    }
    .other-section-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 36px;
    }
    .other-section-audio-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 36px;
    }
}

@media only screen and (max-width: 600px) {
    .other-container {
        padding: 48px 12px 72px 12px;
    }
    .other-section {
        padding: 0 18px 18px 18px;
    }
    .other-section-title {
        padding: 0 12px;
    }
    .other-section-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 18px;
    }
    .other-section-audio-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 18px;
    }
}