.other-container {
    padding: 40px;
}

.other-section {
    display: flex;
    flex-direction: column;
    padding: 0 80px 80px 80px;
    border: 3px solid rgb(40, 80, 240);
}

.other-section-title {
    font-size: 36px;
    text-emphasis: none;
    text-decoration: none;
    color: rgb(40, 80, 240);
    width: fit-content;
    margin: auto;
    transform: translateY(-50%);
    padding: 0 80px;
    background: white;
}

.other-section-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;
}

.other-video {
    border-radius: 10px;
    width: 100%;
    height: 40vh;
    min-height: 200px;
    max-height: 315px;
}