.other-container {
    padding: 40px;
}

.other-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;
}

.other-video {
    border-radius: 10px;
    width: 100%;
}