.home-bio-flip-front {
    position: absolute;
    width: 259px;
    height: 259px;
    border-radius: 50%;
    padding: 8px;
    background: linear-gradient(90deg, rgb(100, 50, 175), rgb(20, 40, 120));
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-bio-img-container {
    width: 259px;
    height: 259px;
    border-radius: 50%;
}

.home-bio-img {
    object-fit: cover;
    border-radius: 50%;
}

.home-bio-flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(90deg, rgb(20, 40, 120), rgb(100, 50, 175));
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 98px;
}