.text-glow-container-constant {
    animation: glow 1s ease-in-out infinite alternate;
}

.text-glow-container-hover:hover {
    animation: glow 1s ease-in-out infinite alternate;
}

/* https://www.w3schools.com/howto/howto_css_glowing_text.asp */

@keyframes glow {
    from {
        text-shadow: 0 0 6px #fff, 0 0 12px #fff, 0 0 18px #e60073, 0 0 24px #e60073, 0 0 30px #e60073, 0 0 36px #e60073, 0 0 42px #e60073;
    }
    to {
        text-shadow: 0 0 12px #fff, 0 0 18px #ff4da6, 0 0 24px #ff4da6, 0 0 30px #ff4da6, 0 0 36px #ff4da6, 0 0 42px #ff4da6, 0 0 48px #ff4da6;
    }
}