.about-section-container {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    margin-top: 40px;
    box-shadow: 1px 2px 5px 3px rgba(20, 40, 120, 0.6);
}

.about-section-container-odd {
    background: rgba(20, 40, 120, 0.1);
}

.about-section-img-container {
    overflow: hidden;
    max-height: 500px;
    width: 100%;
}

.about-section-img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.about-section-text-container {
    padding: 40px 80px;
}

.about-section-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

@media only screen and (max-width: 800px) {
    .about-section-container {
        flex-direction: column;
    }
    .about-section-gallery-container {
        flex: 1;
        order: 1;
    }
    .about-section-text-container {
        flex: 1;
        order: 2;
    }
}

@media only screen and (min-width: 801px) {
    .about-section-gallery-container {
        flex: 2;
        order: 1;
    }
    .about-section-text-container {
        flex: 3;
        order: 2;
    }
    .about-section-gallery-container-odd {
        order: 3;
    }
}