.modal-backdrop {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    max-width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}