.home_gallery_container {
    margin: 100px 0 40px 0;
}

.home_bio_facts_container {
    /* width: 900px; */
    width: 700px;
}

@media only screen and (max-width: 1000px) {
    .home_container {
        padding: 72px 24px;
    }

    .home_bio_facts_container {
        flex-direction: column;
        width: 300px;
    }

    .home_bio_text {
        margin: 18px 0;
    }
}