.home-gallery-container {
    margin: 100px 0 40px 0;
}

.home-bio-facts-container {
    /* width: 900px; */
    width: 700px;
}

@media only screen and (max-width: 1000px) {
    .home-container {
        padding: 60px 24px;
    }
    .home-bio-facts-container {
        flex-direction: column;
        width: 300px;
    }
    .home-bio-text {
        margin: 18px 0;
    }
}