.contact-info {
    color: rgb(20,40,120);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: column;
    margin-top: auto;
    overflow-x: scroll;
    align-items: center;
    min-height: 500px;
}

.contact-cell {
    color: rgb(20,40,120);
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.23s ease;
    margin: 20px;
    min-width: 200px;
}

.contact-cell-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-cell:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.contact-link {
    text-decoration: none;
    color: rgb(20,40,120);
    font-size: 24px;
}

.contact-icon-container {
    font-size: 60px;
}