/* -------- Standard Fonts -------- */

.std-fonts-small-text {
    font-family: 'Marcellus SC', serif;
    font-size: 16x;
}

.std-fonts-medium-text {
    font-family: 'Marcellus SC', serif;
    font-size: 22px;
}

.std-fonts-large-text {
    font-family: 'Marcellus SC', serif;
    font-size: 28px;
}

.std-fonts-h1-text {
    font-family: 'Marcellus SC', serif;
    font-size: 36px;
}

.std-fonts-small-text-alt {
    font-family: 'Montserrat', sans-serif;
    font-size: 16x;
}

.std-fonts-medium-text-alt {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.std-fonts-large-text-alt {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.std-fonts-h1-text-alt {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
}

/* -------- Standard Text Colors -------- */

.std-text-colors-purple {
    color: rgb(100, 50, 175);
}

.std-text-colors-blue {
    color: rgb(40, 80, 240);
}

.std-text-colors-dark-blue {
    color: rgb(20, 40, 120);
}

.std-text-colors-white {
    color: rgb(255, 255, 255);
}

/* -------- Standard Background Colors -------- */

.std-bg-colors-purple {
    background-color: rgb(100, 50, 175);
}

.std-bg-colors-light-blue {
    background-color: rgb(175, 175, 255);
}

.std-bg-colors-blue {
    background-color: rgb(40, 80, 240);
}

/* -------- Standard border radii -------- */

.std-border-radii-4 {
    border-radius: 4px;
}

.std-border-radii-6 {
    border-radius: 6px;
}