/* -------- Standard Fonts -------- */

.standard-fonts-small-text {
    font-family: 'Marcellus SC', serif;
    font-size: 16x;
}

.standard-fonts-medium-text {
    font-family: 'Marcellus SC', serif;
    font-size: 22px;
}

.standard-fonts-large-text {
    font-family: 'Marcellus SC', serif;
    font-size: 28px;
}

/* -------- Standard Text Colors -------- */

.standard-text-colors-purple {
    color: rgb(100, 50, 175);
}

.standard-text-colors-blue {
    color: rgb(40, 80, 240);
}

.standard-text-colors-dark-blue {
    color: rgb(20, 40, 120);
}