.about-slide-container {
    width: 100vw;
    height: 600px;
    max-height: 90vh;
    margin: 0 40px;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.about-slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgba(255,255,255,0.7);
    padding: 20px;
}

.about-slide-title {
    text-align: center;
    margin: 0 !important;
}

.about-slide-subtitle {
    text-align: center;
}

.about-slide-button {
    padding: 10px 60px;
    width: fit-content;
    border: 1px solid rgb(20, 40, 120);
    background-color: rgb(20, 40, 120);
    color: white;
    transition: 0.23s ease;
}

.about-slide-button:hover {
    background-color: white;
    cursor: pointer;
    color: rgb(20, 40, 120);
}

.about-slide-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
}

.about-slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-slide-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}