.gallery-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gallery-top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 100vw;
}

.gallery-arrow {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    z-index: 2;
    color: rgba(100, 50, 175, 0.7);
}

.gallery-arrow:hover {
    cursor: pointer;
}

.gallery-arrow-left-inside, .gallery-arrow-right-inside {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px 15px;
    transition: all 0.23s ease;
}

.gallery-arrow-left-inside:hover, .gallery-arrow-right-inside:hover {
    color: rgba(100, 50, 175, 0.5);
    color: white;
    padding: 40px 20px;
}

.gallery-arrow-left-inside {
    left: 0;
}

.gallery-arrow-right-inside {
    right: 0;
}

.gallery-arrow-big {
    font-size: 40px;
}

.gallery-item {
    flex: 10;
    display: flex;
    justify-content: center;
    transform: translateX(0);
    opacity: 1;
    transition: all 0.18s ease;
}

.gallery-item-left-in {
    transform: translateX(-30%);
    opacity: 0;
}

.gallery-item-left-out {
    transform: translateX(30%);
    opacity: 0;
}

.gallery-item-right-in {
    transform: translateX(30%);
    opacity: 0;
}

.gallery-item-right-out {
    transform: translateX(-30%);
    opacity: 0;
}

.gallery-circle-container {
    display: flex;
    align-items: center;
    min-height: 18px;
    margin-top: 20px;
}

.gallery-circle-container>.gallery-circle:not(:last-child) {
    margin-right: 20px;
}

.gallery-circle {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    transition: width 0.23s ease, height 0.23s ease;
}

.gallery-circle-active {
    width: 15px;
    height: 15px;
}