.gallery-container {
    width: 100%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gallery-top {
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-arrow {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.gallery-arrow:hover {
    cursor: pointer;
}

.gallery-item {
    flex: 10;
    display: flex;
    justify-content: center;
    transform: translateX(0);
    opacity: 1;
    transition: all 0.18s ease;
    border: 1px solid red;
}

.gallery-item-left-in {
    transform: translateX(-30%);
    opacity: 0;
}

.gallery-item-left-out {
    transform: translateX(30%);
    opacity: 0;
}

.gallery-item-right-in {
    transform: translateX(30%);
    opacity: 0;
}

.gallery-item-right-out {
    transform: translateX(-30%);
    opacity: 0;
}

.gallery-circle-container {
    display: flex;
    align-items: center;
    min-height: 18px;
    border: 1px solid blue;
    margin-top: 20px;
}

.gallery-circle-container > .gallery-circle:not(:last-child) {
    margin-right: 20px;
}

.gallery-circle {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: gray;
    transition: color 0.23s ease, width 0.23s ease, height 0.23s ease;
}

.gallery-circle-active {
    width: 15px;
    height: 15px;
    background: rgb(20, 40, 120);
}
