.footer_link_clear_format {
    white-space: nowrap;
    text-decoration: none;
}

.footer_social_link {
    text-decoration: none;
}

/* Large screens */

@media only screen and (min-width: 801px) {
    .footer_container {
        padding: 36px;
    }

    .footer_left_col {
        margin-left: 60px;
    }

    .footer_social_link {
        font-size: 36px;
    }
}

/* Smallish screens */

@media only screen and (max-width: 1000px) {
    .footer_container {
        padding: 18px 40px;
    }

    .footer_logo {
        margin-right: 18px;
    }

    .footer_left_col {
        margin-left: 18px;
    }

    .footer_right {
        flex-direction: column;
    }

    .footer_social_link {
        font-size: 30px;
    }

    .footer_social_link:not(:last-child) {
        margin-bottom: 12px;
    }
}

/* Very small screens (footer as one column) */

@media only screen and (max-width: 600px) {
    .footer_container {
        flex-direction: column;
        align-items: flex-start;
        padding: 18px;
    }

    .footer_left {
        flex-direction: column;
    }

    .footer_logo {
        margin-bottom: 24px;
    }

    .footer_left_col {
        margin-bottom: 18px;
    }

    .footer_right {
        flex-direction: row;
        margin-top: 24px;
    }

    .footer_social_link {
        margin: 0 0 0 18px;
    }
}