.footer-container {
    display: flex;
    align-items: center;
    color: white;
    max-height: 200px;
    margin-top: auto;
    background: linear-gradient(rgb(20,40,120) 0, rgb(10,20,60) 100%);
}

.footer-logo-wrapper {
    text-decoration: none;
}

.footer-logo {
    background: white;
    text-align: center;
    padding: 20px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 60px;
    transition: color 1.5s linear, transform 0.23s ease;
}

.footer-logo:hover {
    transform: scale(1.05);
}

.footer-left {
    display: flex;
}

.footer-left-column {
    display: flex;
    flex-direction: column;
}

.footer-left-link-wrapper {
    text-decoration: none;
    transition: all 0.23s ease;
}

.footer-left-link-wrapper:hover {
    text-decoration: underline;
    transform: scale(1.05);
}

.footer-left-link-wrapper:not(:last-child) {
    margin-bottom: 20px;
}

.footer-left-link {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.23s ease;
}

.footer-right {
    display: flex;
}

.footer-social-link {
    text-decoration: none;
    margin-left: 40px;
    color: white;
    transition: all 0.23s ease;
}

.footer-social-link:hover {
    transform: scale(1.05);
}

.footer-container {
    justify-content: space-between;
    align-content: center;
}

@media only screen and (max-width: 800px) {
    .footer-container {
        padding: 20px 40px;
    }

    .footer-logo {
        margin-right: 20px;
    }

    .footer-left-column {
        margin-left: 20px;
    }

    .footer-right {
        flex-direction: column;
    }

    .footer-social-link {
        font-size: 30px;
    }

    .footer-social-link:not(:last-child) {
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 801px) {
    .footer-container {
        padding: 40px;
    }

    .footer-logo {
        margin-right: 40px;
    }

    .footer-left-column {
        margin-left: 60px;
    }

    .footer-social-link {
        font-size: 40px;
    }
}