.menu_link_clear_format {
    white-space: nowrap;
    text-decoration: none;
}

/* -------- Dropdown slider links -------- */

.menu_dropdown {
    border: 2px solid transparent;
}

.menu_dropdown:hover {
    border: 2px solid #5078f0;
}

/* -------- Dropdown slider transition -------- */

.menu_dropdown_slider {
    right: 0;
}

/* Large screens */

@media only screen and (min-width: 1101px) {
    .menu_hide_when_large {
        display: none;
    }
}

/* Small screens */

@media only screen and (max-width: 1100px) {
    .menu_hide_when_small {
        display: none;
    }

    .menu_center {
        padding: 0 36px;
        margin-right: 24px;
    }
}

/* Very small (mobile) screens */

@media only screen and (max-width: 440px) {
    .menu_center {
        font-size: 30px;
        padding: 0 18px;
        margin-right: 12px;
    }
}