/* Menubar styling */
.menubar-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0;
	padding: 0;
}

.menubar-container > .menubar-link {
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	padding: 10px;
	margin: 0;
	color: rgb(20,40,120);
	font-size: 18px;
	display: flex;
	justify-content: center;
}

.menubar-link-text {
	display: inline-flex;
}

.menubar-container > .active {
	border-bottom: outset rgb(20,40,120);
}

#menubar-center {
	flex: 7;
	text-align: center;
	color: white;
	background-color: rgb(20,40,120);
	font-size: 48px;
}

.icon-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.icon-bars {
	font-size: 18px;
	padding: 10px;
	text-align: center;
	margin-bottom: 10px;
}

.menubar-icon {
	margin-right: 5px;
	align-self: center;
}

.icon-container:hover .icon-bars {
	border-bottom: rgb(20,40,120) outset;
}

.menubar-dropdown {
	display: none;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	padding: 10px;
	margin: 0;
	color: rgb(20,40,120);
	font-size: 18px;
	z-index: 3;
}

.icon-container .active {
	background-color: rgb(20,40,120);
	color: white;
}

.icon-container:hover .menubar-dropdown:hover {
	background-color: rgb(20,40,120);
	color: white;
}

.menubar-space {
	flex: 1;
}

/* Small screens */
@media only screen and (max-width: 800px) {
	.hide-when-small {
		display: none;
	}

	.menubar-container > .menubar-link {
		flex: 2;
	}

	.icon-container {
		flex: 7;
	}

	.icon-container:hover .menubar-dropdown {
		display: block;
	}
}

/* Large screens */
@media only screen and (min-width: 801px) {
	.menubar-container > .menubar-link {
		flex: 3;
		display: block;
	}

	.icon-container {
		flex: 5;
	}

	.icon-container:hover .menubar-dropdown:not(.hide-when-big) {
		display: block;
	}

	.hide-when-big {
		display: none;
	}
}

/* Very small (mobile) screens */
@media only screen and (max-width: 400px) {
	body {
		display: none;
	}
}