/* Menubar styling */
.menubar-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0;
	padding: 0;
}

.menubar-link-wrapper {
	text-decoration: none;
	padding: 10px;	
	color: rgb(20,40,120);
	font-size: 18px;
}

.menubar-link-content {
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
}

.menubar-link-text {
	width: fit-content;
	text-align: center;
	margin-left: 8px;
}

.active {
	border-bottom: outset rgb(20,40,120);
}

#menubar-center {
	flex: 7;
	text-align: center;
	color: white;
	background-color: rgb(20,40,120);
	font-size: 48px;
}

.icon-bars {
	font-size: 18px;
	padding: 10px;
	text-align: center;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menubar-icon {
	width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon-container:hover .icon-bars {
	border-bottom: rgb(20,40,120) outset;
}

.menubar-dropdown {
	display: none;
	padding: 10px;
	text-decoration: none;
	margin: 0;
	z-index: 3;
	text-align: center;
	white-space: nowrap;
	color: rgb(20,40,120);
	font-size: 18px;
	justify-content: center;
	align-items: center;
}

.icon-container:hover .active {
	background-color: rgb(20,40,120);
	color: white;
}

.icon-container:hover .menubar-dropdown:hover {
	background-color: rgb(20,40,120);
	color: white;
}

.menubar-space {
	flex: 1;
}

/* Small screens */
@media only screen and (max-width: 800px) {
	.hide-when-small {
		display: none;
	}

	.menubar-link-wrapper {
		flex: 2;
	}

	.icon-container {
		flex: 7;
	}

	.icon-container:hover .menubar-dropdown {
		display: flex;
	}
}

/* Large screens */
@media only screen and (min-width: 801px) {
	.menubar-link-wrapper {
		flex: 3;
	}

	.icon-container {
		flex: 2;
	}

	.icon-container:hover .menubar-dropdown:not(.hide-when-big) {
		display: flex;
	}

	.hide-when-big {
		display: none;
	}
}

/* Very small (mobile) screens */
@media only screen and (max-width: 400px) {
	body {
		display: none;
	}
}