/* Menubar styling */

.menu-link-clear-format {
    white-space: nowrap;
    text-decoration: none;
}

.menu-opacity-transition-enter {
    opacity: 0;
}

.menu-opacity-transition-enter-active {
    opacity: 1;
    transition: all 0.23s linear;
}

.menu-opacity-transition-exit {
    opacity: 1;
}

.menu-opacity-transition-exit-active {
    opacity: 0;
    transition: all 0.23s linear;
}

.menu-hamburger:hover {
    cursor: pointer;
}

.menu-dropdown-logo-wrapper {
    text-decoration: none;
    cursor: pointer;
}

.menu-dropdown-logo {
    color: white;
    width: 80px;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border-radius: 50%;
    margin-bottom: 20px;
    transition: all 0.23s ease;
}

.menu-dropdown {
    transition: all 0.23s ease;
}

.menu-dropdown:hover {
    box-shadow: 2px 2px 5px 0 rgba(100, 50, 175, 0.7);
}

.menu-dropdown-exit {
    width: fit-content;
    position: absolute;
}

.menu-dropdown-active-tab {
    color: white;
}

.menu-dropdown-exit:hover {
    cursor: pointer;
}

.menu-dropdown-exit-icon {
    padding: 0;
    margin: 0;
    transform: rotate(45deg);
}

.menu-dropdown-slider {
    position: fixed;
    top: 60px;
    right: 0;
    z-index: 5;
    background: white;
    display: flex;
    padding: 20px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: -2px 2px 5px 0 rgba(100, 50, 175, 0.7);
}

.menu-dropdown-transition-enter {
    right: -200px;
}

.menu-dropdown-transition-enter-active {
    right: 0;
    transition: all 0.23s linear;
}

.menu-dropdown-transition-exit {
    right: 0;
}

.menu-dropdown-transition-exit-active {
    right: -200px;
    transition: all 0.23s linear;
}

/* Large screens */

@media only screen and (min-width: 1101px) {
    .menu-hide-when-large {
        display: none;
    }
}

/* Small screens */

@media only screen and (max-width: 1100px) {
    .menu-hide-when-small {
        display: none;
    }
    .menu-center {
        padding: 0 36px;
        margin-right: 24px;
    }
}

/* Very small (mobile) screens */

@media only screen and (max-width: 440px) {
    .menu-center {
        font-size: 30px;
        padding: 0 18px;
        margin-right: 12px;
    }
}