body {
    margin: 0;
    font-family: 'Marcellus SC', serif;
    overflow-x: hidden;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.site-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgb(40, 80, 240);
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px grey, inset -2px -2px 2px grey;
}

::-webkit-scrollbar-track {
    background: linear-gradient(90deg, grey, grey 1px, white 0, white);
    border: none;
}

::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: rgba(100, 50, 175, 0.6);
}

::selection {
    color: white;
    background: rgba(100, 50, 175, 0.6);
}