body {
    margin: 0;
    font-family: 'Marcellus SC', serif;
    overflow-x: hidden;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: 0.23s color ease, 0.23s background-color ease;
}

.site-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #d475d4 0, #5078f0 100%);
    border-radius: 10px;
    /* box-shadow: inset 2px 2px 2px #d475d4, inset -2px -2px 2px #d475d4; */
}

::-webkit-scrollbar-track {
    background: transparent;
    border: none;
}

::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: rgba(100, 50, 175, 0.6);
}

::selection {
    color: white;
    background: rgba(100, 50, 175, 0.6);
}