/* Menubar styling */
.menubar-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.menubar-container > a {
	display: block;
	text-align: center;
	border: 1px solid black;
	text-decoration: none;
	color: black;
	flex: 3;
}

.menubar-container > a.active {
	border-bottom: outset;
}

#menubar-center {
	flex: 2;
	text-align: center;
	border: 1px solid black;
}